<%- include('header.ejs', { pageTitle: 'RocketGames' }) %>
<link rel="stylesheet" href="/css/carrito.css">

<div class="container mt-4">
  <h1 class="text-primary mb-4">Carrito</h1>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col" class="text-center">Cantidad</th>
            <th scope="col" class="text-center">Precio</th>
            <th scope="col" class="text-center">Total</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% productos.forEach(function(item) { %>
            <tr>
              <td class="text-center"><img src="<%= item.producto.image %>" alt="<%= item.producto.nombre %>" width="50"></td>
              <td><%= item.producto.nombre %></td>
              <td class="text-center">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary btn-sm disminuir-cantidad" type="button" data-id="<%= item.producto.id %>">-</button>
                  </div>
                  <input type="number" class="form-control form-control-sm text-center cantidad" min="1" value="<%= item.cantidad %>" data-id="<%= item.producto.id %>">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-sm aumentar-cantidad" type="button" data-id="<%= item.producto.id %>">+</button>
                  </div>
                </div>
              </td>
              <td class="text-center">$<%= item.producto.precio.toFixed(2) %></td>
              <td class="text-center">$<%= (item.producto.precio * item.cantidad).toFixed(2) %></td>
              <td class="text-center">
                <button class="btn btn-danger btn-sm eliminar-producto" data-id="<%= item.producto.id %>">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          <% }) %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4" class="text-right font-weight-bold">Total:</td>
            <td colspan="2" class="text-center font-weight-bold">$<%= total.toFixed(2) %></td>
          </tr>
        </tfoot>
      </table>
      <a href="/" class="btn btn-primary btn-block">Continuar comprando</a>
      <a href="/carrito/comprar" class="btn btn-success btn-block">Comprar</a>
    </div>
  </div>
</div>

<script src="/main.js"></script>
<%- include('footer.ejs') %>
